<% available_airports = Airport.all.map { |airport| [airport.id, airport.name] } %>
<% available_years = [] %>
<% available_months = [] %>
<% available_days = [] %>
<% Flight.all.each do |flight| %>
  <% if flight.departure_time > Time.now %>
    <% available_years << flight.departure_time.year %>
    <% available_months << (flight.departure_time.month) %>
    <% available_days << (flight.departure_time.day)  %>
  <% end %>
<% end %>
<%= form_with url: "/flights", method: :get do |f| %>
  <div class="form-control">
    <div>
      <%= f.label :departure_airport_id, "Departure", class: "form-label" %>
      <%= f.collection_select :departure_airport_id, available_airports, :first, :second, {:prompt => true}, class: "form-select" %>
    </div>
    <div>
      <%= f.label :arrival_airport_id, "Arrival", class: "form-label"%>
      <%= f.collection_select :arrival_airport_id, available_airports, :first, :second, {:prompt => true}, class: "form-select" %>
    </div>
    <br>
    <%= f.label :year, "Year", class: "form-label"%>
    <%= f.select(:year, available_years.uniq.sort, class: "form-select")%>

    <%= f.label :month, "Month", class: "form-label"%>
    <%= f.select(:month, available_months.uniq.sort, class: "form-select") %>

    <%= f.label :day, "Day", class: "form-label"%>
    <%= f.select(:day, available_days.uniq.sort, class: "form-select") %>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>